<h1>Forms</h1>

<%=	 form_for @post do |f| %>
  <%=	 f.text_field :date, class: 'form-control' %>
  <%=	 f.text_area :rationale, class: 'form-control' %>
  <%=	 f.submit 'Save', class: 'btn btn-primary' %>
<% end %>